/* latin-ext */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');

:root {
  --color-principal: #020205;
  --color-secundario: #111f4d;
  --background-color-principal: #f2f4f7;

  scroll-behavior: smooth;
}

body {
  margin: 0;

  background-color: #f2f4f7;
  font-family: "Open sans", sans-serif;
}
h1,
h2,
h3,
h4 {
  color: var(--color-principal);
  font-family: "Merriweather", "Open sans";
  line-height: 150%;
}
a {
  color: var(--color-principal);
}
p {
  margin: 0;

  font-size: 16px;
  line-height: 150%;
}
.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  min-height: 100vh;

  padding: 0 20px;
  box-sizing: border-box;
}
.section__section-principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;

  box-sizing: border-box;
}
.section-principal__image {
  height: 180px;
  width: 180px;
  object-fit: cover;
  object-position: center;

  border: #111f4d 5px solid;
  border-radius: 50%;
}
.section-principal__title {
  max-width: 300px;

  margin: 0;

  font-size: 26px;
  font-weight: 600;
  text-align: center;
}
.title__highlighted-text {
  font-weight: 700;
}
.section-principal__line {
  width: 100%;
  max-width: 300px;

  margin: 0;
}
.social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.section-principal__social-link {
  height: 25px;
  width: 25px;
}
.--link-principal {
  height: 30px;
  width: 30px;
}
.social-link__image {
  width: 100%;
  height: 100%;
}
.section__section-button {
  color: #757575;
  font-size: 16px;
  text-align: center;
}
.--about-me {
  padding: 10px 30px 40px 30px;
}
.section__title {
  margin-bottom: 10px;

  font-size: 24px;
  font-weight: 600;
}
.section__description {
  margin-bottom: 20px;
  text-align: center;
}
.section__content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
.content__image {
  height: 200px;
  width: 100%;
  max-width: 260px;
  object-fit: contain;
  object-position: center;
}
.content__text {
  width: 100%;
}
.section__subtitle {
  font-size: 20px;
  font-weight: 600;
}
.section__skill-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;

  padding: 0;

  list-style-type: none;
}
.skill-list__item {
  text-align: center;
}
.--project {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;

  padding-top: 10px;
}
.--my-projects {
  padding-top: 20px;
}
.--title-center {
  text-align: center;
}
.section__project-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
.project-list__project {
  height: 280px;
  width: 100%;
  max-width: 300px;

  border-radius: 8px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.project__image {
  width: 100%;
  height: 148px;
  object-fit: cover;
  object-position: center;

  background-color: #bdbdbd;
  border-radius: 8px 8px 0 0;
}
.project__title {
  margin: 10px 20px;
  height: 50px;
}
.project__buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  height: 45px;

  padding: 0 20px;
}
.buttons__button {
  display: flex;
  align-items: center;
  justify-content: space-around;

  height: 35px;
  width: 120px;

  border: 1px solid transparent;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
}
.--preview {
  background-color: var(--color-principal);
  color: var(--background-color-principal);
}
.buttons__line {
  height: 45px;
}
.button__icon {
  height: 20px;
  width: 20px;
}
.--cod {
  border: 3px solid var(--color-principal);
}
.section__hint-text {
  color: #bdbdbd;
  text-align: center;
  margin: 40px 0;
}
.section__section-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.section-button__icon {
  transform: rotate(180deg);
}
.--final {
  padding-bottom: 40px;
}
/*hide and show events*/
.hide {
  opacity: 0;
}
.show-animation {
  animation: show 0.5s linear;
}
@keyframes show {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media only screen and (min-width: 600px) and (max-width: 760px) {
  .--about-me,
  .--my-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .--content__about-me {
    padding: 20px;
  }
  .section__title {
    width: 100%;
  }
}
@media only screen and (min-width: 760px) {
  .section-principal__title {
    max-width: 540px;
    font-size: 32px;
  }
  .section-principal__social-link {
    height: 35px;
    width: 35px;
    object-fit: contain;
  }
  .section-principal__social-link svg {
    height: 35px;
    width: 35px;
  }
  .--link-principal,
  .--link-principal svg {
    height: 40px;
    width: 40px;
  }

  .section__title {
    font-size: 30px;
  }
  .section__subtitle {
    font-size: 26px;
  }
  .section__content {
    flex-wrap: nowrap;
    width: 760px;
  }
  .project-list__project {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    height: 240px;
    width: 700px;
    max-width: none;

    padding: 0;
  }
  .project__image {
    height: 100%;
    width: 320px;

    border-radius: 8px 0 0 8px;
  }
  .project__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100%;
    width: 380px;
    box-sizing: border-box;

    padding: 20px;
  }
  .project__buttons {
    align-self: center;
  }

  .project__title {
    font-size: 24px;
  }
  .project__title,
  .project__buttons {
    width: 100%;
    margin: 0;
  }
  .buttons__button {
    height: 40px;
    width: 140px;
    cursor: pointer;
  }
  .buttons__line {
    margin: 0;
  }
  .section__section-button {
    font-size: 18px;
  }

  /*Hovers, actives*/
  .section-principal__social-link:active {
    animation: rotar 0.1s linear;
  }
  .section__section-button:hover,
  .section-principal__social-link:hover,
  .--preview:hover,
  .--cod:hover {
    transition: all 0.1s linear;
    transform: scale(1.05);
  }
  .--preview:active {
    transition: all 0.1s linear;
    border-color: var(--background-color-principal);
  }
  .--cod:active {
    background-color: var(--color-principal);

    color: var(--background-color-principal);
  }
  @keyframes rotar {
    to {
      transform: rotate(0deg);
    }
    from {
      transform: rotate(360deg);
    }
  }
}
