:root {
  --color-principal: #020205;
  --color-secundario: #111f4d;
  --background-color-principal: #f2f4f7;
}

body {
  margin: 0;

  background-color: #f2f4f7;
  font-family: "Open sans", sans-serif;

  scroll-behavior: smooth;
}
h1,
h2,
h3,
h4 {
  color: var(--color-principal);
  font-family: "Montserrat", "Open sans";
  line-height: 150%;
}
a {
  color: var(--color-principal);
}
p{
  margin: 0;

  font-size: 16px;
  line-height: 150%;
}
.section {
  min-height: 100vh;

  padding: 0 20px;
  box-sizing: border-box;
}
.--header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.section__section-principal {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;

  box-sizing: border-box;
}
.section-principal__image {
  height: 180px;
  width: 180px;

  background-color: #111f4d;
  border-radius: 50%;
}
.section-principal__title {
  margin: 0;

  font-size: 26px;
  font-weight: 600;
  text-align: center;
}
.title__highlighted-text {
  font-weight: 700;
}
.section-principal__line {
  width: 100%;

  margin: 0;
}
.social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.section-principal__social-link {
  height: 25px;
  width: 25px;
}
.--link-principal {
  height: 30px;
  width: 30px;
}
.social-link__image {
  width: 100%;
  height: 100%;
}
.section__section-button {
  font-size: 16px;
  text-align: center;
}
.--about-me{
  padding: 10px 30px 0px 30px;
}
.section__title{
  margin: 10px 0;

  font-size: 24px;
  font-weight: 600;
}
.section__content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
.content__image{
  height: 190px;
  width: 100%;
  object-fit: cover;
  object-position: center;

  background-color: #BDBDBD;
}
.section__subtitle{
  font-size: 20px;
  font-weight: 600;
}
.section__skill-list{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;

  padding: 0;

  list-style-type: none;
}
.skill-list__item{
  text-align: center;
}